#: plaska struktura
; shamefully-hoist=true
; public-hoist-pattern[]=*astro*
; public-hoist-pattern[]=*vite*

; engine-strict=true

#: Używa globalnego cache zamiast duplikowania w każdym projekcie
; store-dir=/path/to/global/store
; store-dir=/Users/veriKami/misc/__npm_store__

#: Wymusza hoistowanie zależności Astro i Vite
; shamefully-hoist=true
; public-hoist-pattern[]=*astro*
; public-hoist-pattern[]=*vite*

#: Rejestr npm (domyślnie npmjs.org)
; registry=https://registry.npmjs.org/
#: Ignoruje skrypty postinstall (opcjonalne)
; ignore-scripts=false
@jsr:registry=https://npm.jsr.io
